/*
 * File name: navbar.css
 * Student's Name: Aniket Monani
 * StudentID: 301422485
 * Date: 2024-05-26
 */

 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  height: 70px; /* Fixed height for the navbar */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  position: fixed; /* Make the navbar fixed at the top */
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center; /* Center the logo vertically */
  height: 100%;
}

.navbar-logo .logo {
  max-height: 100;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  border-radius: 100px;
  box-shadow: color(xyz-d50 0 0 0 / 0.32) 19px -20px 18px -14px, rgb(22 187 155) 0 1px 2px, rgb(25 132 119 / 83%) 0 2px 4px, rgb(49 174 149 / 0%) 0 4px 8px, rgb(35 182 164 / 0%) 0 8px 16px, rgb(0 0 0 / 51%) 0 16px 32px;
  color: #4ec4b8;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.nav-links a:hover {
  box-shadow: rgb(44 187 165 / 36%) 0 -25px 18px -14px inset,
              rgb(44 187 170 / 25%) 0 1px 2px, 
              rgb(44 187 186 / 25%) 0 2px 4px, 
              rgb(44 178 187 / 25%) 0 4px 8px, 
              rgb(44 187 165 / 25%) 0 8px 16px, 
              rgb(44 187 175 / 25%) 0 16px 32px;
  transform: scale(1.05);
}
