
/* 
 * File name: project.css
 * Student's Name: Aniket Monani
 * StudentID: 301422485
 * Date: 2024-05-26
 */
/* about.css */
.about-section {
  text-align: center;
  padding: 50px;
}

.about-section h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1.2em;
  margin-bottom: 30px;
}
#skill {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin: 0 auto;
  background-color: #d7fbf7;
}

.skillTitle{
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
  color: black;
}

.skillDesc{
  font-family: "Indie Flower", cursive;
  font-style: normal;
  font-weight: 400;
  font-size:xx-large;
  max-width: 51rem;
  padding: 0 2rem;
  margin-top: 70px;
  margin-bottom: 100px;
  color: black;
}

.skillBars{
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.skillBar{
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #4ec4b8;
}
.dd{
  color: black;
  align-items: center;
}
.skillBarImg{
  object-fit: cover;
  height: 6rem;
  width: 10rem;
  margin-right: 2rem;
}

.skillBarText>p{
  font-size:1.5rem;
  font-weight: 700;
}
.btn {
  background-color: #4ec4b8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.3s;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
 /* bottom: -250px;
  position: absolute;  */
}
.btn:hover {
  background-color: #4ec4b8;
}
.btncolor
{
  background-color: #4ec4b8;
}