/* 
 * File name: project.css
 * Student's Name: Aniket Monani
 * StudentID: 301422485
 * Date: 2024-05-26
 */
/* about.css */
.about-section {
  text-align: center;
  padding: 50px;
}

.about-section h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1.2em;
  margin-bottom: 30px;
}
#skill {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin: 0 auto;
  background-color: black;
}

.skillTitle{
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
  color: black;
}

.skillDesc{
  font-family: "Indie Flower", cursive;
  font-style: normal;
  font-weight: 400;
  font-size:xx-large;
  max-width: 51rem;
  padding: 0 2rem;
  margin-top: 70px;
  margin-bottom: 100px;
  color: white;
}

.skillBars{
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}
.hireme {
  border-radius: 100px;
  box-shadow: color(xyz-d50 0 0 0 / 0.32) 19px -20px 18px -14px, rgb(22 187 155) 0 1px 2px, rgb(25 132 119 / 83%) 0 2px 4px, rgb(49 174 149 / 0%) 0 4px 8px, rgb(35 182 164 / 0%) 0 8px 16px, rgb(0 0 0 / 51%) 0 16px 32px;
  color: #4ec4b8;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 20px;
  margin-top: -50px;
}
.hireme:hover {
  box-shadow: rgb(44 187 165 / 36%) 0 -25px 18px -14px inset,
  rgb(44 187 170 / 25%) 0 1px 2px, 
  rgb(44 187 186 / 25%) 0 2px 4px, 
  rgb(44 178 187 / 25%) 0 4px 8px, 
  rgb(44 187 165 / 25%) 0 8px 16px, 
  rgb(44 187 175 / 25%) 0 16px 32px;
  transform: scale(1.05);
}
.hiretext{
  color: white;
  text-align: center;
}
.hiretext:hover{
  color: white;
}
.skillBar{
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(0 0 0 / 51%);
  border: ridge;
}
.dd{
  color: white;
  align-items: center;
}
.skillBarImg{
  object-fit: cover;
  height: 6rem;
  width: 10rem;
  margin-right: 2rem;
}

.skillBarText>p{
  font-size:1.5rem;
  font-weight: 700;
}
.btn {
  background-color: #4ec4b8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.3s;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
 /* bottom: -250px;
  position: absolute;  */
}
.btn:hover {
  background-color: #4ec4b8;
}
.hire{
  background-color: #4ec4b8;
  border: 0;
  border-radius: 56px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 3px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}
.hire:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}
.hire:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}