/* 
 * File name: project.css
 * Student's Name: Aniket Monani
 * StudentID: 301422485
 * Date: 2024-05-26
 */
/* contact.css */

#ffp{
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.contact {
    margin-top: 30px;
    text-align: center;
}
.fname{
    margin: 1rem 0;
    font-size: xx-large;
    color: white;
    text-align: center;
}
.emailLink {
    margin-top: 1.5rem;
    font-size: 1rem;
}

.emailLink a {
    color: #007bff;
    text-decoration: none;
}

.emailLink a:hover {
    text-decoration: underline;
}
.ftext{
    margin: 1rem 0;
    font-size: x-large;
    background-color: #4ec4b8;

}
.linkdeln{
    margin: 1rem 0;
    
    text-align: center;
    font-size: x-large;
    color: #007bff;

}
.link{
    margin: 1rem 0;
    font-size: x-large;
    color: #007bff;

}
label{
    font-size:xx-large;
}

input{
    font-size: larger;
}

.submit{

    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    border: darkcyan;
    border-radius: 1rem;
    background: #a4a4a4;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.submit {
    border-radius: 100px;
    box-shadow: color(xyz-d50 0 0 0 / 0.32) 19px -20px 18px -14px, rgb(22 187 155) 0 1px 2px, rgb(25 132 119 / 83%) 0 2px 4px, rgb(49 174 149 / 0%) 0 4px 8px, rgb(35 182 164 / 0%) 0 8px 16px, rgb(0 0 0 / 51%) 0 16px 32px;
    color: #4ec4b8;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 20px;
    margin-top: -50px;
  }
  .submit:hover {
    box-shadow: rgb(44 187 165 / 36%) 0 -25px 18px -14px inset,
    rgb(44 187 170 / 25%) 0 1px 2px, 
    rgb(44 187 186 / 25%) 0 2px 4px, 
    rgb(44 178 187 / 25%) 0 4px 8px, 
    rgb(44 187 165 / 25%) 0 8px 16px, 
    rgb(44 187 175 / 25%) 0 16px 32px;
    transform: scale(1.05);
  }
.btn1 {
    background-color: #4ec4b8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.3s;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
   /* bottom: -250px;
    position: absolute;  */
  }
  .btn:hover {
    background-color: #4ec4b8;
  }
  .btncolor
  {
    background-color: #4ec4b8;
  }
p,a{
    font-size:x-large;
    text-align: center;
} 